<form
	[formGroup]="form"
	(ngSubmit)="submit()"
	class="form"
	[class.mat-elevation-z2]="true"
	*ngIf="user$ | async as user"
>
	<mat-vertical-stepper [linear]="true" #stepper>
		<mat-step [stepControl]="form.get('firstStep')" formGroupName="firstStep">
			<ng-template matStepLabel>Seleziona la categoria</ng-template>

			<mat-form-field>
				<mat-label>Categoria</mat-label>
				<mat-select formControlName="category" required>
					<mat-option value="gadgets">Gadget</mat-option>

					<mat-option value="photos">Foto</mat-option>
				</mat-select>
			</mat-form-field>

			<div>
				<button mat-raised-button matStepperNext type="button" class="button">
					Avanti
				</button>
			</div>
		</mat-step>

		<mat-step>
			<ng-template matStepLabel>Verifica informazioni personali</ng-template>

			<h3>Confermi le seguenti informazioni personali?</h3>
			<p>Nome: {{ user.name }}</p>
			<p>Classe: {{ user.classID }}</p>
			<p>Email: {{ user.email }}</p>
			<p>Telefono: {{ user.phone }}</p>

			<mat-hint>
				Se dovessi riscontrare errori in queste informazioni personali, non
				esitare a contattarci a
				<a
					href="mailto:rapprestudenti@liceolussana.eu"
					class="link"
					target="_blank"
				>
					rapprestudenti@liceolussana.eu
				</a>
				prima di continuare con il pagamento.
			</mat-hint>

			<div>
				<button
					mat-raised-button
					matStepperPrevious
					type="button"
					class="button"
				>
					Indietro
				</button>

				<button mat-raised-button matStepperNext type="button" class="button">
					Sì, confermo
				</button>
			</div>
		</mat-step>

		<mat-step
			[stepControl]="form.get('contactInfo')"
			formGroupName="contactInfo"
		>
			<ng-template matStepLabel>Verifica informazioni della classe</ng-template>

			<mat-form-field>
				<mat-label>Nome e cognome</mat-label>
				<input matInput formControlName="name" required />
			</mat-form-field>

			<mat-form-field>
				<mat-label>Classe</mat-label>
				<input matInput formControlName="classID" required />
			</mat-form-field>

			<div>
				<button
					mat-raised-button
					matStepperPrevious
					type="button"
					class="button"
				>
					Indietro
				</button>

				<button mat-raised-button matStepperNext type="button" class="button">
					Avanti
				</button>
			</div>
		</mat-step>

		<mat-step>
			<ng-template matStepLabel>Procedi al pagamento</ng-template>

			<div>
				<button
					mat-raised-button
					matStepperPrevious
					type="button"
					class="button"
				>
					Indietro
				</button>

				<button
					mat-flat-button
					color="primary"
					type="submit"
					[disabled]="form.invalid"
					class="button"
				>
					Invia
				</button>
			</div>
		</mat-step>
	</mat-vertical-stepper>
</form>
