<!-- <form
	[formGroup]="form"
	(ngSubmit)="submit()"
	class="form"
	[class.mat-elevation-z2]="true"
	*ngIf="user$ | async as user"
>
	<mat-vertical-stepper [linear]="true" #stepper>
		<mat-step
			[stepControl]="form.get('categoryStep')"
			formGroupName="categoryStep"
		>
			<ng-template matStepLabel>Seleziona la categoria</ng-template>

			<mat-form-field>
				<mat-label>Categoria</mat-label>
				<mat-select formControlName="category" required>
					<mat-option value="gadgets">Gadget</mat-option>

					<mat-option value="photos">Foto</mat-option>
				</mat-select>
			</mat-form-field>

			<div>
				<button mat-raised-button matStepperNext type="button" class="button">
					Avanti
				</button>
			</div>
		</mat-step>

		<mat-step>
			<ng-template matStepLabel>Verifica informazioni personali</ng-template>

			<h3>Confermi le seguenti informazioni personali?</h3>
			<p>Nome: {{ user.name }}</p>
			<p>Classe: {{ user.classID }}</p>
			<p>Email: {{ user.email }}</p>
			<p>Telefono: {{ user.phone }}</p>

			<mat-hint>
				Se dovessi riscontrare errori in queste informazioni personali, non
				esitare a contattarci a
				<a
					href="mailto:rapprestudenti@liceolussana.eu"
					class="link"
					target="_blank"
				>
					rapprestudenti@liceolussana.eu
				</a>
				prima di continuare con il pagamento.
			</mat-hint>

			<div>
				<button
					mat-raised-button
					matStepperPrevious
					type="button"
					class="button"
				>
					Indietro
				</button>

				<button mat-raised-button matStepperNext type="button" class="button">
					Sì, confermo
				</button>
			</div>
		</mat-step>

		<mat-step [completed]="thirdStepCompleted">
			<ng-template matStepLabel>Verifica informazioni della classe</ng-template>

			<ng-container *ngIf="orders$ | async as orders">
				<ng-container *ngIf="!orders.loading; else loading">
					<ng-container *ngIf="orders.ready">
						<h3>Pagamento pronto</h3>
						<p>Totale: {{ orders.total / 100 | currency: 'EUR' }}</p>
					</ng-container>

					<ng-container *ngIf="!orders.ready && orders.notConfirmed">
						<h3>Pagamento non disponibile</h3>
						<p>
							Questi tuoi compagni non hanno ancora confermato il loro ordine:
							{{ notConfirmedNames$ | async }}.
						</p>
					</ng-container>

					<ng-container *ngIf="!orders.ready && orders.paid">
						<h3>Pagamento non disponibile</h3>
						<p>Sembra che il tuo ordine sia già stato pagato!</p>
					</ng-container>
				</ng-container>

				<ng-template #loading>
					<div class="loading">
						<mat-spinner [diameter]="25" class="spinner"></mat-spinner>
						Caricamento in corso...
					</div>
				</ng-template>

				<div>
					<button
						mat-raised-button
						matStepperPrevious
						type="button"
						class="button"
					>
						Indietro
					</button>

					<button
						mat-raised-button
						matStepperNext
						type="button"
						class="button"
						[disabled]="orders.loading || !orders.ready"
					>
						Avanti
					</button>
				</div>
			</ng-container>
		</mat-step>

		<mat-step>
			<ng-template matStepLabel>Procedi al pagamento</ng-template>

			<h3>Ora puoi procedere al pagamento.</h3>

			<div>
				<button
					mat-raised-button
					matStepperPrevious
					type="button"
					class="button"
				>
					Indietro
				</button>

				<button
					mat-flat-button
					color="primary"
					type="submit"
					[disabled]="form.invalid"
					class="button"
				>
					Procedi al pagamento
				</button>
			</div>
		</mat-step>
	</mat-vertical-stepper>
</form> -->

<csl-info-msg
	src="assets/svg/server-down.svg"
	message="I pagamenti online sono stati disattivati! Fai riferimento ai Rappresentanti d'Istituto per continuare"
></csl-info-msg>
