<csl-alert color="primary" class="alert">
	Leggi attentamente il regolamento e le linee guida riguardanti la Cogestione
	prima di proporre un corso!
</csl-alert>

<form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="form">
	<h1>Informazioni principali</h1>
	<mat-form-field class="input">
		<mat-label>Titolo del corso</mat-label>
		<input matInput type="text" formControlName="title" />
	</mat-form-field>

	<mat-form-field class="input">
		<mat-label>Descrizione del corso</mat-label>
		<textarea matInput formControlName="description"></textarea>
	</mat-form-field>

	<div class="break"></div>

	<h1>Dettagli</h1>
	<mat-form-field class="input">
		<mat-label>Note</mat-label>
		<textarea matInput formControlName="notes"></textarea>
	</mat-form-field>

	<mat-form-field class="input">
		<mat-label>Tipologia di corso</mat-label>

		<mat-select formControlName="category">
			<mat-option
				*ngFor="let category of availableCategories"
				[value]="category"
			>
				{{ category }}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<div class="break"></div>

	<mat-form-field class="number-input">
		<mat-label>Partecipanti massimi</mat-label>
		<input matInput type="number" formControlName="max" />
	</mat-form-field>

	<mat-label class="checkboxes-label">Fascia assegnata</mat-label>

	<mat-radio-group formControlName="slot">
		<mat-radio-button *ngFor="let slot of availableSlots" [value]="slot" class="radio-btn">
			{{ slot.toUpperCase() }}
		</mat-radio-button>
	</mat-radio-group>

	<div class="break"></div>

	<ng-container formArrayName="speakers">
		<button type="button" mat-raised-button (click)="addSpeaker()">
			Add speaker
		</button>

		<div
			*ngFor="let speaker of speakers.controls; let i = index"
			[formGroupName]="i"
			class="speakers"
		>
			<mat-form-field class="speaker-field">
				<mat-label>Nome</mat-label>
				<input matInput formControlName="name" />
			</mat-form-field>

			<mat-form-field class="speaker-field">
				<mat-label>Classe</mat-label>
				<input matInput formControlName="classID" />
			</mat-form-field>
		</div>
	</ng-container>

	<div class="break"></div>

	<button
		mat-raised-button
		color="primary"
		class="submit"
		[disabled]="courseForm.invalid"
	>
		Crea corso
	</button>
</form>
