.link {
  text-decoration: none;
  color: #0d47a1;
  font-weight: 500;
  line-height: 26px;
}

.check-for-updates {
  margin-right: 10px;
}

.button-container {
  display: inline-block;
  position: relative;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
