<csl-dashboard-home *ngIf="auth.user$ | async as user" [user]="user">
  <span header>I tuoi dati</span>

  <span activities-label>Le tue attività</span>
  <span activities>
    <span *ngIf="user.isQp">
      Gestisci <a [routerLink]="['..', 'qp-admin']" class="link">Quinto Piano</a>
      <br />
    </span>
    
    <span *ngIf="user.isReferente">
      Gestisci la tua <a [routerLink]="['..', 'referente']" class="link">Commissione</a>
      <br />
    </span>
    
    <span *ngIf="user.isRappre">
      Gestisci le <a [routerLink]="['..', 'rappre']" class="link">attività della scuola</a>
      <br />
    </span>
    
    <span *ngIf="!user.isRappre && !user.isReferente && !user.isQp">Questa sezione è ancora vuota! Torna più tardi...</span>
  </span>

  <button mat-raised-button color="warn" logout-btn (click)="signOut()">Esci</button>
</csl-dashboard-home>
