<csl-dashboard-home *ngIf="user$ | async as user" [user]="user">
  <span header>I tuoi dati</span>

  <span activities-label>Le tue attività</span>
  <span activities>
    <span *ngIf="user.isQp">
      Gestisci <a [routerLink]="['..', 'qp-admin']" class="link">Quinto Piano</a>
      <br />
    </span>

    <span *ngIf="user.isReferente">
      Gestisci la tua <a [routerLink]="['..', 'referente']" class="link">Commissione</a>
      <br />
    </span>

    <span *ngIf="user.isRappre">
      Gestisci le <a [routerLink]="['..', 'rappre']" class="link">attività della scuola</a>
      <br />
    </span>

    <span *ngIf="!user.isRappre && !user.isReferente && !user.isQp">Questa sezione è ancora vuota! Torna più tardi...</span>
  </span>

  <span logout-btn>
    <span class="button-container">
      <span class="spinner-container" *ngIf="sw.loading">
        <mat-spinner diameter="24" color="basic"></mat-spinner>
      </span>

      <button
        mat-raised-button
        [disabled]="sw.loading"
        (click)="sw.checkForUpdates()"
        color="primary"
        class="check-for-updates"
      >
        Controlla aggiornamenti
      </button>
    </span>

    <button
      mat-raised-button
      color="warn"
      (click)="signOut()"
    >
      Esci
    </button>
  </span>
</csl-dashboard-home>
