<!--suppress HtmlFormInputWithoutLabel -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Gestisci la pagina della tua Commissione</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div id="editorjs"></div>

    <h2 class="header">Gestisci i file della tua Commissione</h2>

    <mat-table *ngIf="commissione" [dataSource]="commissione.files" class="table">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>File</mat-header-cell>
        <mat-cell *matCellDef="let file">{{ getDisplayName(file) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="manage">
        <mat-header-cell *matHeaderCellDef>Gestisci</mat-header-cell>
        <mat-cell *matCellDef="let file">
          <button
            mat-stroked-button
            color="warn"
            (click)="deletePDF(file)">
            Elimina
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>

  <mat-card-actions class="actions">
    <input
      type="file"
      style="display: none"
      accept="application/pdf"
      #fileInput
      (change)="uploadPDF($event)"
    />

    <button mat-raised-button (click)="fileInput.click()">
      Carica file PDF
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="save()"
    >
      Salva pagina
    </button>
  </mat-card-actions>
</mat-card>
