<div class="container">
	<mat-card [routerLink]="['gadgets']" accent="primary">
		<mat-card-header>
			<mat-card-title>Gadget</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<img src="../../../../assets/svg/gadgets.svg" />
		</mat-card-content>
	</mat-card>

	<mat-card [routerLink]="['photos']" accent="primary">
		<mat-card-header>
			<mat-card-title>Foto</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<img src="../../../../assets/svg/photos.svg" />
		</mat-card-content>
	</mat-card>
</div>
