<mat-card>
  <mat-card-header>
    <mat-card-title>Gestisci il tuo articolo</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <h4>Contenuto</h4>
    <div id="editorjs"></div>

    <h4>Metadati</h4>
    <form [formGroup]="metadata" class="form-container">
      <mat-form-field class="input">
        <mat-label>Categoria</mat-label>
        <mat-select
          id="category"
          placeholder="Selezionare categoria..."
          formControlName="category"
        >
          <mat-option *ngFor="let category of categories" [value]="category">{{
            category
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Titolo</mat-label>
        <input
          matInput
          id="title"
          type="text"
          formControlName="title"
        />
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Autore</mat-label>
        <input
          matInput
          id="author"
          type="text"
          formControlName="author"
        />
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Tempo stimato per la lettura</mat-label>
        <input
          id="estimatedTime"
          type="number"
          matInput
          formControlName="estimatedTime"
        />
        <span matSuffix>minuti</span>
      </mat-form-field>

      <div class="break"></div>

      <input type="file" hidden #uploadFile (change)="uploadCover($event)" />
      <button
        mat-stroked-button
        color="primary"
        (click)="uploadFile.click()"
      >
        Carica copertina
      </button>
      <p class="file-text">File caricato: <i>{{ originalImageName || "nessuno" }}</i></p>
    </form>
  </mat-card-content>

  <!-- Save and delete article -->
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="save()"
      [disabled]="metadata.invalid"
    >
      Salva articolo
    </button>
    <button mat-raised-button color="warn" (click)="delete()">
      Cancella articolo
    </button>
  </mat-card-actions>
</mat-card>
