<csl-data-table
	*ngIf="tableData$ | async as data; else loading"
	[data]="data"
	[columns]="displayedColumns"
>
	<div *ngIf="user$ | async as user" header>
		<ng-container *ngIf="total$ | async as total">
			<h1>
				{{ user.classID.toUpperCase() }} - {{ total / 100 | currency: 'EUR' }}
			</h1>
		</ng-container>
	</div>

	<div links>
		<a mat-raised-button [routerLink]="['..', 'payments']" color="primary">
			Continua al pagamento
		</a>
	</div>
</csl-data-table>

<ng-template #loading>
	<csl-loading-screen></csl-loading-screen>
</ng-template>
