<div class="container">
  <div class="content">
    <h1 class="header">Il sito è attualmente in manutenzione!</h1>
    <br />
    <p class="paragraph">
      Torneremo online al rientro a scuola,
      con una nuova applicazione installabile su
      tutti i dispositivi compatibili.
    </p>
    <br />
    <img src="../assets/maintenance.svg" class="svg" alt="Immagine di manutenzione" />
  </div>

  <div class="footer">
    <img src="../assets/logo.png" class="logo" alt="logo" />

    <div class="footer-text">
      <span>Comitato Studentesco Lussana</span>
      <br />
      <span class="copyright">{{ copyright }}</span>
      <br />
      <span>lussanaweb@gmail.com</span>
    </div>
  </div>
</div>
