.container {
  padding-top: 50px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  color: #0d47a1;
  text-align: center;
  flex: 100%;
}

.svg {
  width: 60%;
  max-width: 600px;
}

.footer {
  bottom: 0;
  padding-left: 25%;
  padding-right: 25%;
  position: absolute;
  width: 50%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 80px;
}

.footer-text {
  text-align: right;
  color: #0D47A1;
  font-size: 12px;
}

@media screen and (max-width: 1250px) {
  .footer {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
  }
}
