<!-- TODO: remove the line below -->
<!--suppress HtmlFormInputWithoutLabel -->
<div class="container">
	<h1 class="title">Quinto Piano</h1>

	<h1 class="header">Articoli in evidenza</h1>

	<mat-form-field class="search">
		<mat-label>Cerca articoli...</mat-label>
		<input matInput type="text" [formControl]="search" />
	</mat-form-field>

	<ng-container *ngIf="articles && articles.length > 0; else noArticles">
		<mat-card
			*ngFor="
		  let article of (filteredArticles$ | async) || articles;
		  let i = index
		"
			[routerLink]="[article.id]"
			class="article-preview"
		>
			<div
				class="category-color"
				[ngStyle]="{ 'background-color': article.category | categoryToColor }"
			></div>

			<mat-card-content class="content">
				<ng-container>
					<img
						[src]="article.image"
						*ngIf="imageReady"
						class="cover"
						[ngClass]="{ odd: i % 2 === 1, even: i % 2 === 0 }"
						alt="Immagine di copertina dell'articolo"
					/>
					<div class="text" [ngClass]="{ odd: i % 2 === 1, even: i % 2 === 0 }">
						<h1 class="title">{{ article.title }}</h1>
						<span class="category-label">{{ article.category }}</span>
						<p class="preview" [innerHTML]="article.preview"></p>
						<p class="data">
							{{ article.author }} | {{ article.date | date: 'dd / MM / yy' }}
						</p>
					</div>
				</ng-container>
			</mat-card-content>
		</mat-card>
	</ng-container>

	<ng-template #noArticles>
		<csl-alert class="alert"> Nessun articolo trovato! </csl-alert>
	</ng-template>
</div>
