<ng-container *ngIf="auth.user$ | async as user">
  <mat-card *ngIf="order$ | async as order; else cartIsEmpty">
    <mat-card-header
      ><mat-card-title> Il tuo carrello</mat-card-title>
      <mat-card-subtitle>
        Credito: {{ user.snackCredit | currency: "EUR" }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-table [dataSource]="order.cart">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef>Quantità</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.quantity }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Gestisci</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button
            mat-button
            color="warn"
            (click)="deleteProduct(product.id)"
            [disabled]="order.confirmed"
          >
            Elimina prodotto
          </button></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="confirmed">
        <mat-header-cell *matHeaderCellDef>Confermato</mat-header-cell>
        <mat-cell *matCellDef="let product"
          ><ng-container *ngIf="order.confirmed === true; else waiting"
            ><mat-icon color="primary">done</mat-icon></ng-container
          ><ng-template #waiting><mat-icon color="accent">watch_later</mat-icon></ng-template></mat-cell
        >
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-card-actions *ngIf="order.confirmed === false">
      <button
        mat-stroked-button
        color="primary"
        (click)="confirmOrder()"
        [disabled]="order.total > user.snackCredit"
      >
        Conferma ordine: {{ order.total | currency: "EUR" }}
      </button>
    </mat-card-actions>
  </mat-card>

  <ng-template #cartIsEmpty>
    <mat-card-header>
      <mat-card-title>
        Il tuo carrello è vuoto!
        <a [routerLink]="['..']">Inizia a ordinare</a>
      </mat-card-title></mat-card-header
    >
  </ng-template>
</ng-container>
