<div>
  <h1>I tuoi dati</h1>
    <mat-card *ngIf="auth.user$ | async as user">
      <mat-card-header>
        <div mat-card-avatar><img [src]="user.photoURL" class="profileimg" /></div>
        <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

  <csl-alert color="primary">
    Ciao Luca! Cosa vuoi fare oggi?
  </csl-alert>

  <button mat-raised-button color="warn" (click)="signOut()">Esci</button>
</div>
