<ng-container *ngIf="isConfirmed === true && isPaid === false">
  <div>
    <h4>
      Ciao! Qui puoi pagare l'ordine
      {{ category | category }} della {{ classID }}, che ammonta a
      {{ total | currency: "EUR" }}
    </h4>

    <form>
      <mat-card id="card-element">
        <!--Stripe.js injects the Card Element-->
      </mat-card>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="payWithCard()"
        [disabled]="loading || btnDisabled"
      >
        <mat-spinner *ngIf="loading" color="primary"></mat-spinner>
        <span *ngIf="!loading">Completa il pagamento</span>
      </button>
      <p id="card-errors" role="alert"></p>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="isConfirmed === false || isPaid === true">
  <h4 *ngIf="isConfirmed === false">
    Non tutti i tuoi compagni hanno ancora confermato l'ordine!
  </h4>

  <h4 *ngIf="isPaid === true">Questo ordine è già stato pagato!</h4>
</ng-container>
