.form {
	border-radius: 20px;
	overflow: hidden;
}

.link {
	color: #0d47a1;
	font-weight: 500;
	text-decoration: none;
}

.button + .button {
	margin-left: 10px;
}

.loading {
	display: flex;
	align-items: center;
	margin: 5px 0;

	.spinner {
		margin-right: 5px;
	}
}
