<ng-container *ngIf="status">
	<h1>Qui puoi gestire le sezioni della piattaforma</h1>
	<ng-container *ngFor="let section of status; index as i; trackBy: trackByFn">
		<h3>{{ section.data.id }}</h3>

		<ng-container *ngIf="section.form">
			<form [formGroup]="section.form" (ngSubmit)="onSubmit(i)">
				<div>
					<mat-form-field appearance="fill">
						<mat-label>Data d'apertura</mat-label>
						<input
							matInput
							[matDatepicker]="startDatePicker"
							formControlName="startDate"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="startDatePicker"
						></mat-datepicker-toggle>
						<mat-datepicker #startDatePicker></mat-datepicker>
					</mat-form-field>

					<mat-form-field appearance="fill">
						<mat-label>Orario d'apertura</mat-label>
						<input matInput type="time" formControlName="startTime" />
					</mat-form-field>
				</div>

				<div>
					<mat-form-field appearance="fill">
						<mat-label>Data di chiusura</mat-label>
						<input
							matInput
							[matDatepicker]="endDatePicker"
							formControlName="endDate"
						/>
						<mat-datepicker-toggle
							matSuffix
							[for]="endDatePicker"
						></mat-datepicker-toggle>
						<mat-datepicker #endDatePicker></mat-datepicker>
					</mat-form-field>

					<mat-form-field appearance="fill">
						<mat-label>Orario di chiusura</mat-label>
						<input matInput type="time" formControlName="endTime" />
					</mat-form-field>
				</div>

				<button mat-raised-button type="submit" color="primary">Salva</button>
			</form>
		</ng-container>
	</ng-container>
</ng-container>
