<div class="background">
  <div class="rectangle"></div>
  <!-- <div class="triangle"></div> -->
  <div class="triangle"></div>
</div>

<div class="container">
  <div class="title-container">
    <span class="title">Comitato Studentesco Lussana</span>
  </div>

  <div class="button-container">
    <a
      mat-stroked-button
      rounded
      color="primary"
      class="discover-btn"
      [routerLink]="['comitato']"
    >
      Scopri di più
    </a>
  </div>

  <div class="content">
    <div class="section">
      <div class="text">
        <h1>CSLussana.com</h1>
        <p>La nuova casa digitale del Comitato Studentesco</p>
      </div>
      <img src="../../../assets/svg/home.svg" class="image" />
    </div>

    <mat-divider></mat-divider>

    <div class="section">
      <img src="../../../assets/svg/articles.svg" class="image" />
      <div class="text">
        <h1>Quinto Piano, rinnovato</h1>
        <p>
          Trova tutti gli articoli e nuove pubblicazione giornaliere nella nuova
          sezione di <a [routerLink]="['qp']" class="link">Quinto Piano</a>!
        </p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="section">
      <div class="text">
        <h1>Commissioni</h1>
        <p>
          Tutte le tue commissioni preferite, in un
          <a [routerLink]="['comitato']" class="link">unico posto</a>
        </p>
      </div>
      <img src="../../../assets/svg/lir.svg" class="image" />
    </div>

    <mat-divider></mat-divider>

    <div class="section">
      <img src="../../../assets/svg/shopping.svg" class="image" />
      <div class="text">
        <h1>Gadget e foto</h1>
        <p>
          Un nuovo sistema per gestire i gadget e le foto, più velocemente di
          sempre
        </p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="section">
      <div class="text">
        <h1>Hai qualche dubbio?</h1>
        <p>
          Consulta le nostre <a [routerLink]="['faq']" class="link">FAQ</a>,
          oppure
          <a [routerLink]="['contacts']" class="link">CONTATTACI</a>
        </p>
      </div>
      <img src="../../../assets/svg/faq.svg" class="image" />
    </div>
  </div>
</div>
