:host ::ng-deep a { 
  color: #0D47A1;
  font-weight: 500;
}

.data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.data-text {
  color: rgba($color: #000000, $alpha: 0.6);
  font-size: 14px;
}

.data-text:nth-child(2) {
  text-align: right;
}

.h1 {
  font-weight: 500;
  flex: 100%;
  font-size: 42px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.h2 {
  font-weight: 500;
  flex: 100%;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.h3 {
  font-weight: 500;
  flex: 100%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  height: auto;
  max-height: 600px;
  max-width: 100%;
  object-fit: contain;
}

.caption {
  flex: 100%;
  text-align: center;
  color: rgba($color: #000000, $alpha: 0.6);
  margin-top: 10px;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 16px;
  flex: 100%;
  text-align: justify;
}
