<mat-card>
  <mat-card-header>
    <mat-card-title>Snack</mat-card-title>
  </mat-card-header>

  <mat-card-content
    ><mat-table [dataSource]="snacks | async">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let snack">{{ snack.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let snack">{{ snack.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Descrizione</mat-header-cell>
        <mat-cell *matCellDef="let snack">{{ snack.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Prezzo</mat-header-cell>
        <mat-cell *matCellDef="let snack">{{
          snack.price | currency: "EUR"
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="maxQuantity">
        <mat-header-cell *matHeaderCellDef>Q. massima</mat-header-cell>
        <mat-cell *matCellDef="let snack">{{ snack.maxQuantity }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Gestisci</mat-header-cell>
        <mat-cell *matCellDef="let snack"
          ><button mat-button color="warn" (click)="deleteProduct(snack.id)">
            Elimina
          </button>
          <!-- <button mat-button color="primary">Modifica disponibilità</button> -->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>

  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['create']">
      Aggiungi un prodotto
    </a>
  </mat-card-actions>
</mat-card>
