<div class="container">
  <h1 class="header">Eventi programmati</h1>

  <p class="credits">
    In collaborazione con AGL - Comitato Orientamento
  </p>

  <div class="grid" *ngIf="events.length > 0; else noEventFound">
    <mat-card *ngFor="let event of events" class="card">
      <h2 class="title">{{ event.title }}</h2>

      <p class="preview">{{ event.preview }}</p>

      <img
        [src]="event.cover"
        [alt]="event.title"
        class="cover"
        *ngIf="event.cover"
      />

      <a
        mat-raised-button
        [routerLink]="event.id"
      >
        Dettagli
      </a>

      <a
        mat-raised-button
        color="primary"
        [href]="event.signup"
        target="_blank"
        class="signup"
      >
        Iscriviti

        <mat-icon [inline]="true">open_in_new</mat-icon>
      </a>
    </mat-card>
  </div>
</div>

<ng-template #noEventFound>
  <csl-alert color="primary" class="alert">
    <span>Nessun evento in programma per ora! Torna più avanti...</span>
  </csl-alert>
</ng-template>
