.container {
  width: 100vw;
  height: 800px;
}

.sidenav {
  width: 15vw;
}

span {
  outline: none;
  cursor: pointer;
}

a {
  color: #00000050;
}

a.active {
  color: #0D47A1;
  font-weight: 500;
}

mat-sidenav-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

mat-toolbar {
  width: 100vw;
}
