<div *ngIf="(state$ | async).classes as classes; else noClasses" class="cards">
  <ng-container *ngIf="classes.length > 0; else noClasses">
    <ng-container *ngFor="let class of classes">
      <mat-card [routerLink]="[class.id]" class="card">
        <mat-card-header>
          <mat-card-title>{{ class.id.toUpperCase() }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </ng-container>
  </ng-container>
</div>

<ng-template #noClasses>
  <csl-alert color="primary" class="alert">
    Non ci sono ancora classi!
  </csl-alert>
</ng-template>
