.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  width: 4em;
  margin-right: 20px;
  margin-bottom: 20px;
  outline: none;
  text-align: center;
}

.alert {
  width: 100%;
}
