.product {
	outline: none;
	cursor: pointer;
	max-width: 400px;
	margin-right: 30px;
	margin-bottom: 30px;
	flex: 50%;
}

img {
	width: 100%;
}

.container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.alert {
	width: 100%;
}

h4 {
	font-weight: 500;
}

.offer {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(166, 255, 166);
	width: calc(100% - 10px * 2);
	padding: 10px;
}

.span-click {
	cursor: pointer;
}
