<ng-container *ngIf="orderDraft$ | async">
	<div class="offer">
		Puoi aggiungere al tuo ordine un prodotto fra
		<a
			class="default-link"
			[routerLink]="['./']"
			[queryParams]="{ discountable: true }"
		>
			questi
		</a>
		e ricevere uno sconto del 50% su di esso, oppure puoi
		<span class="default-link span-click" (click)="confirmWithoutDiscount()">
			continuare senza aggiungere alcun prodotto scontato.
		</span>
	</div>
</ng-container>

<mat-form-field
	[ngStyle]="{ 'margin-top': (orderDraft$ | async) ? '20px' : '' }"
>
	<mat-label>Cerca prodotto...</mat-label>
	<input matInput type="text" [formControl]="search" />
</mat-form-field>

<ng-container *ngIf="filteredProducts$ | async as products; else alert">
	<div class="container" *ngIf="products.length > 0; else alert">
		<mat-card
			[routerLink]="[product.id]"
			*ngFor="let product of products"
			class="product"
		>
			<mat-card-header>
				<mat-card-title>{{ product.name }}</mat-card-title>
				<mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
			</mat-card-header>

			<mat-card-content>
				<img [src]="product.previewLinks[0]" />
			</mat-card-content>
		</mat-card>

		<ng-container *ngIf="filteredProducts$ | async as filtered">
			<csl-alert color="primary" class="alert" *ngIf="filtered.length === 0">
				Nessun prodotto trovato!
			</csl-alert>
		</ng-container>
	</div>
</ng-container>

<ng-template #alert>
	<csl-alert
		color="primary"
		class="alert"
		*ngIf="loading$ | async as loading; else noProductFound"
	>
		Caricamento in corso...
	</csl-alert>

	<ng-template #noProductFound>
		<csl-alert color="primary" class="alert">
			Nessun prodotto trovato in questa categoria!
		</csl-alert>
	</ng-template>
</ng-template>
