.product {
	outline: none;
	cursor: pointer;
	max-width: 400px;
	margin-right: 30px;
	margin-bottom: 30px;
	flex: 50%;
}

img {
	width: 100%;
}

.container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.alert {
	width: 100%;
}

h4 {
	font-weight: 500;
}

.span-click {
	cursor: pointer;
}

.product-link {
	text-decoration: none;
	color: unset;
}
