<div class="container">
	<h1 class="header">Questa pagina è protetta!</h1>
	<p class="paragraph">
		Esegui il login: in caso di successo, sarai re-indirizzato al contenuto
		a cui avevi tentato di accedere
	</p>

	<div class="image-container">
		<img
			src="../../../../assets/svg/authenticate.svg"
			class="authenticate-img"
		/>
	</div>

	<button mat-raised-button class="login-btn" (click)="signIn()">
		Accedi con Google<img
			src="../../../assets/img/signInLogo.png"
			class="google"
		/>
	</button>
</div>
