<div class="container">
  <mat-card color="primary">
    <mat-card-header>
      <mat-card-title>Esegui il login</mat-card-title>
      <mat-card-subtitle>
        In caso di successo, sarai re-indirizzato al contenuto a cui avevi
        tentato di accedere
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <button mat-raised-button class="login-btn" (click)="signIn()">
        Accedi con Google<img
          src="../../../assets/img/signInLogo.png"
          class="google"
        />
      </button>
    </mat-card-content>
  </mat-card>
</div>
