.login-btn {
	width: 100%;
	margin-top: 20px;
}

.container {
	height: 100%;
	width: 100%;
	padding: 60px 20% 0;
	box-sizing: border-box;
}

.header {
	margin: 0;
}

.paragraph {
	color: rgba(black, 0.7);
}

.google {
	height: 25px;
	margin-left: 7.5px;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.authenticate-img {
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 1250px) {
	.login-card {
		width: 80%;
	}

	.container {
		padding: 60px 5% 0;
	}
}
