<mat-tab-group class="tab-group" [(selectedIndex)]="currentIndex">
	<mat-tab
		*ngFor="let slot of (slots$ | async)"
		[label]="slot.toUpperCase()"
		class="tab"
	>
		<div *ngIf="dataSource$ | async as dataSource" class="table-container">
			<div
				class="courses-wrapper"
				*ngIf="dataSource[slot].length > 0; else noCoursesFound"
			>
				<csl-data-table
					[data]="dataSource[slot]"
					[columns]="displayedColumns"
					(actionClick)="handleEvent($event)"
					class="table"
				>
					<h1 header>Corsi in fascia {{ slot.toUpperCase() }}</h1>
				</csl-data-table>

				<div class="drag-drop">
					<h1>Le tue scelte per la fascia {{ slot.toUpperCase() }}</h1>

					<csl-drag-drop-list [(data)]="signupDraft[slot]"></csl-drag-drop-list>
					
					<button
						mat-flat-button
						color="primary"
						class="confirm"
						[disabled]="signupDraft[slot].length !== 3"
						(click)="confirmDraft(slot)"
					>
						Conferma corsi
					</button>
				</div>
			</div>

			<ng-template #noCoursesFound>
				<div class="alert-container">
					<csl-alert color="primary">
						Non ci sono corsi in questa fascia!
					</csl-alert>
				</div>
			</ng-template>
		</div>
	</mat-tab>
</mat-tab-group>
