.alert-container,
.table-container {
	padding: 20px;
}

.courses-wrapper {
	display: flex;
	width: 100%;

	.table {
		width: 100%;
		margin-right: 10px;
	}

	.drag-drop {
		min-width: 20%;
	}

	.confirm {
		margin-top: 10px;
	}
}

.wait-err {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	h1 {
		text-align: center;
		margin-top: 20px;
	}

	a {
		font-weight: 600;
		color: #3f51b5;
		text-decoration: none;
	}
}

@media screen and (max-width: 768px) {
	.courses-wrapper {
		flex-wrap: wrap;

		.darg-drop {
			margin-top: 50px;
		}
	}
}
