// General styles
h2 {
	font-size: 24px;
	margin-bottom: 0;
}

h4 {
	font-size: 14px;
	color: rgba($color: #000000, $alpha: 0.7);
	margin-bottom: 0;

	&.label {
		color: rgba($color: #000000, $alpha: 0.55);
		flex: 100%;
	}
}

p {
	margin-top: 10px;
}

// Specific styles
.container {
	display: flex;
	width: 100%;
	height: 100%;
}

.carousel-container {
	display: flex;
	width: 50%;
}

.carousel {
	height: 500px;
	width: 500px;
	padding: 2em;
}

.images {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}

.image {
	width: 50px;
	margin-bottom: 10px;
	cursor: pointer;

	&.selected {
		border: 2px black solid;
	}

	img {
		width: 100%;
	}
}

.form {
	display: flex;
	flex-wrap: wrap;
}

.quantity {
	flex-basis: 50%;
}

.sizes {
	flex-basis: 50%;
}

.colors {
	display: flex;
	flex-wrap: wrap;
}

.color {
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
	padding-left: 50px;
	padding-top: 30px;

	cursor: pointer;

	margin-right: 10px;
}

.order-btn {
	margin-top: 40px;
	flex: 100%;
}

@media screen and (max-width: 1250px) {
	.container {
		flex-wrap: wrap;
	}

	.carousel-container {
		flex-wrap: wrap;
		width: 100%;
	}

	.carousel {
		width: 300px;
		height: 300px;
	}

	.images {
		flex-direction: row;
	}

	.image {
		margin-right: 10px;
	}
}
