<div class="container" *ngIf="product$ | async as product; else message">
	<div class="carousel-container" *ngIf="images$ | async as images">
		<div class="carousel">
			<csl-carousel [images]="images" #carousel></csl-carousel>
		</div>

		<div class="images">
			<ng-container *ngFor="let image of images; let i = index">
				<mat-card
					class="image"
					(click)="carousel.slideTo(i)"
					[class.mat-elevation-z4]="carousel.slideIndex === i"
				>
					<img [src]="image.link" />
				</mat-card>
			</ng-container>
		</div>
	</div>

	<div>
		<h2>{{ product.name }}</h2>
		<h4>{{ product.description }}</h4>
		<p>Prezzo: {{ product.price }}€</p>

		<form [formGroup]="orderForm" class="form" (ngSubmit)="addToCart()">
			<div class="quantity">
				<mat-form-field>
					<mat-label>Quantità</mat-label>
					<input matInput type="number" formControlName="quantity" />
				</mat-form-field>
			</div>

			<div class="sizes">
				<mat-form-field>
					<mat-label>Taglia</mat-label>
					<mat-select formControlName="size">
						<mat-option *ngFor="let size of product.sizes" [value]="size">
							{{ size }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div *ngIf="orderForm" class="colors">
				<h4 class="label">Colore</h4>
				<mat-card
					*ngFor="let color of product.colors"
					[class.mat-elevation-z10]="selectedColor === color.id"
					class="color"
					[ngStyle]="{ 'background-color': color.color }"
					(click)="selectColor(color.id)"
				></mat-card>
			</div>

			<div class="order-btn">
				<button
					mat-raised-button
					color="primary"
					[disabled]="orderForm.invalid"
				>
					Ordina prodotto
				</button>
			</div>
		</form>
	</div>
</div>

<ng-template #message>
	<csl-alert color="primary" *ngIf="loading$ | async; else noProductFound">
		Caricamento in corso...
	</csl-alert>

	<ng-template #noProductFound>
		<csl-alert color="primary">
			Non abbiamo trovato nessun prodotto con questo nome!
		</csl-alert>
	</ng-template>
</ng-template>
