<ng-container *ngIf="readyStatus$ | async as readyStatus; else loading">
	<ng-container *ngIf="readyStatus.ready; else sectionDisabled">
		<ng-container *ngIf="orderDraft$ | async">
			<csl-alert color="success">
				Puoi aggiungere al tuo ordine un prodotto fra quelli proposti sotto e
				ricevere uno sconto del 50% su di esso, oppure puoi
				<span
					class="default-link span-click"
					(click)="confirmWithoutDiscount()"
				>
					continuare senza aggiungere alcun prodotto scontato.
				</span>
			</csl-alert>
		</ng-container>

		<mat-form-field>
			<mat-label>Cerca prodotto...</mat-label>
			<input matInput type="text" [formControl]="search" />
		</mat-form-field>

		<ng-container *ngIf="filteredProducts$ | async as products; else alert">
			<div class="container" *ngIf="products.length > 0; else alert">
				<a
					[routerLink]="[product.id]"
					*ngFor="let product of products"
					class="product-link"
				>
					<mat-card class="product">
						<mat-card-header>
							<mat-card-title>{{ product.name }}</mat-card-title>
							<mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
						</mat-card-header>

						<mat-card-content>
							<img [src]="product.previewLinks[0]" />
						</mat-card-content>
					</mat-card>
				</a>
			</div>
		</ng-container>

		<ng-template #alert>
			<csl-alert
				color="primary"
				class="alert"
				*ngIf="loading$ | async as loading; else noProductFound"
			>
				Caricamento in corso...
			</csl-alert>

			<ng-template #noProductFound>
				<csl-alert color="primary" class="alert">
					Nessun prodotto trovato in questa categoria!
				</csl-alert>
			</ng-template>
		</ng-template>
	</ng-container>

	<ng-template #sectionDisabled>
		<csl-info-msg
			src="../../../assets/svg/construction.svg"
			message="Questa sezione è attualmente disattivata, torna più tardi a controllare!"
		></csl-info-msg>
	</ng-template>
</ng-container>

<ng-template #loading>
	<div class="loading">
		<mat-spinner [diameter]="40"></mat-spinner>
	</div>
</ng-template>
