<div class="container">
  <h1>FAQ</h1>
  <h2>Informazioni generali</h2>
  <mat-accordion class="questions">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>A cosa serve questo sito?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        L'obiettivo di questa piattaforma è quello di fornire al Comitato un
        sistema di gestione unico per tutte le attività degli studenti,
        garantendo rapidità, efficienza e accessibilità
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Sezioni principali</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Le sezioni principali al momento sono quelle per le
        <a class="link" [routerLink]="['..', 'comitato']">Commissioni</a> e per
        <a class="link" [routerLink]="['..', 'qp']">Quinto Piano</a>
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ho un ruolo all'interno del Comitato, cosa devo fare?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Se ricopri un ruolo come il referente di Commissione, il direttore di un
        Progetto Scolastico o il Rappresentante di Classe, contatta i
        <a class="link" [routerLink]="['..', 'contacts']">
          Rappresentanti d'Istituto
        </a>
        fornendo la tua mail e chiedendo che ti venga attivato l'account con
        permessi speciali
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Funzioni in fase di sviluppo</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Lavoriamo costantemente per mantenere il sito sempre aggiornato, quindi
        aspettatevi sempre nuove funzionalità! In cima alla lista al momento ci
        sono gadget e foto, Cogestione, bar, condivisione di materiale per gli
        studenti, orientamento in uscita e scambio di libri fra studenti
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider></mat-divider>

<!--  <h2>Gadget e foto</h2>-->
<!--  <mat-accordion class="questions">-->
<!--    <mat-expansion-panel hideToggle>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>Gestione degli ordini</mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->
<!--      <p>-->
<!--        Gli ordini sono gestiti internamente al Liceo, per cui nulla di ciò che-->
<!--        viene svolto sulla piattaforma è controllato da un'azienda esterna. Per-->
<!--        qualsiasi problema contattare i-->
<!--        <a class="link" [routerLink]="['..', 'contacts']">-->
<!--          Rappresentanti d'Istituto-->
<!--        </a>-->
<!--      </p>-->
<!--    </mat-expansion-panel>-->

<!--    <mat-expansion-panel hideToggle>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>Sessioni di vendita</mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->
<!--      <p>-->
<!--        Le sessioni di vendita vengono stabilite e comunicate dai Rappresentanti-->
<!--        d'Istituto in carica-->
<!--      </p>-->
<!--    </mat-expansion-panel>-->
<!--  </mat-accordion>-->

<!--  <mat-divider></mat-divider>-->

<!--  <h2>Pagamenti</h2>-->
<!--  <mat-accordion class="questions">-->
<!--    <mat-expansion-panel hideToggle>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>Come avvengono i pagamenti?</mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->
<!--      <p>-->
<!--        I pagamenti possono avvenire in due modi: telematicamente, attraverso un-->
<!--        versamento con carta o un bonifico, o in contanti. I dettagli verranno comunicati-->
<!--        dai Rappresentanti d'Istituto in carica-->
<!--      </p>-->
<!--    </mat-expansion-panel>-->

<!--    <mat-expansion-panel hideToggle>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>Pagamento dei gadget</mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->
<!--      <p>-->
<!--        Il pagamento dei gadget e delle foto viene effettuato dai Rappresentanti di-->
<!--        Classe attraverso un pagamento cumulativo per tutta la classe al-->
<!--        termine della sessione di vendita-->
<!--      </p>-->
<!--    </mat-expansion-panel>-->

<!--    <mat-expansion-panel hideToggle>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>Pagamento del servizio bar</mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->
<!--      <p>-->
<!--        Il pagamento del servizio bar viene effettuato da tutti gli studenti-->
<!--        interessati tramite contanti. I soldi versati verranno poi caricati-->
<!--        dallo staff sul conto personale-->
<!--      </p>-->
<!--    </mat-expansion-panel>-->

<!--    <mat-expansion-panel hideToggle>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>-->
<!--          Chi può effettuare pagamenti attraverso la piattaforma?-->
<!--        </mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->
<!--      <p>-->
<!--        Il pagamento con carta può essere effettuato solo dai Rappresentanti di-->
<!--        Classe, mentre quello in contanti da tutti gli studenti-->
<!--      </p>-->
<!--    </mat-expansion-panel>-->

<!--    <mat-expansion-panel hideToggle>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>Dettagli tecnici</mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->
<!--      <p>-->
<!--        Il sistema di pagamento è realizzato in collaborazione con-->
<!--        <a class="link" href="https://stripe.com" target="blank">Stripe</a> ed è-->
<!--        collegato al conto corrente dell'Associazione Studentesca Lussana, che-->
<!--        gestisce tutto il settore economico del Comitato-->
<!--      </p>-->
<!--    </mat-expansion-panel>-->
<!--  </mat-accordion>-->

<!--  <mat-divider></mat-divider>-->

  <h2>Privacy</h2>
  <mat-accordion class="questions">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Che informazioni memorizza questo sito?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Il sito non memorizza alcuna informazione personale come località di
        accesso, IP o tipologia di dispositivo utilizzato. Le uniche
        informazioni conservate sono quelle fornite dalla scuola (nome, cognome,
        email e classe) ed eventuali dati sugli ordini e sui pagamenti
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Per quanto rimangono memorizzati i miei dati?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        I tuoi dati personali rimangono memorizzati nel sistema fino alla
        scadenza del tuo account GSuite fornito dalla scuola, quindi circa un
        mese dopo la fine del tuo periodo di permanenza al Liceo
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
