.container {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

mat-panel-title {
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-weight: 550;
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

mat-divider {
  margin-top: 30px;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #0D47A1;
  font-weight: 500;
}

@media screen and (max-width: 1250px) {
  .container {
    padding-top: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
