<mat-tab-group class="tab-group" [(selectedIndex)]="currentIndex">
	<mat-tab
		*ngFor="let slot of (slots$ | async)"
		[label]="slot.toUpperCase()"
		class="tab"
	>
		<div
			*ngIf="!signupDraft[slot].confirmed && missingTime && missingTime[slot].distance > 0"
			class="missing-subscription"
		>
			<span>Iscrizione mancante!</span>
		</div>

		<ng-container *ngIf="missingTime">
			<div
				*ngIf="missingTime[slot].distance > 0; else timeReady"
				class="countdown"
			>
				<span>
					La fascia {{slot.toUpperCase()}} inizierà fra {{
					missingTime[slot].days }} giorni, {{ missingTime[slot].hours }} ore,
					{{ missingTime[slot].minutes }} minuti e {{ missingTime[slot].seconds
					}} secondi.
				</span>
			</div>
		</ng-container>

		<div
			*ngIf="missingTime && missingTime[slot].distance > 0 && dataSource$ | async as dataSource"
			class="table-container"
		>
			<div
				class="courses-wrapper"
				*ngIf="dataSource[slot].length > 0; else noCoursesFound"
			>
				<csl-data-table
					[data]="dataSource[slot]"
					[columns]="displayedColumns"
					(actionClick)="handleEvent($event)"
					class="table"
				>
					<h1 header>Iscrizioni terminate - fascia {{ slot.toUpperCase() }}</h1>
				</csl-data-table>

				<div class="drag-drop">
					<h1>La tua scelta per la fascia {{ slot.toUpperCase() }}</h1>

					<mat-card *ngIf="signupDraft[slot].course">
						{{ signupDraft[slot].course.label }}
					</mat-card>

					<button
						mat-flat-button
						color="primary"
						class="confirm"
						[disabled]="!signupDraft[slot].course || signupDraft[slot].confirmed === true"
						(click)="confirmDraft(slot)"
					>
						Conferma
					</button>
				</div>
			</div>

			<ng-template #noCoursesFound>
				<div class="alert-container">
					<csl-alert color="primary">
						Non ci sono corsi in questa fascia!
					</csl-alert>
				</div>
			</ng-template>
		</div>

		<ng-template #timeReady>
			<ng-container *ngIf="signupDraft[slot].course; else noCourse">
				<div
					*ngIf="courseFromID(signupDraft[slot].course.id) | async as course"
					class="show-link"
				>
					<h1>Il tuo corso è: {{ course.title }}</h1>
					<p>
						Lo trovi al link
						<a [href]="course.link" class="meet-link">{{ course.link }}</a>.
					</p>
				</div>
			</ng-container>

			<ng-template #noCourse>
				<div class="show-link">
					<h1>Purtroppo non hai scelto nessun corso per questa fascia! :/</h1>
				</div>
			</ng-template>
		</ng-template>
	</mat-tab>
</mat-tab-group>
