fa-icon {
  margin-right: 5px;
}

mat-card-content {
  margin-left: 20px;
}

mat-card-actions {
  margin-left: 20px;
}

h4 {
  font-weight: 500;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-right: 30px;
  margin-bottom: 30px;
}
