.image {
  width: 75%;
  max-width: 600px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.header {
  text-align: center;
  flex: 100%;
}

.link {
  font-weight: 600;
  color: #0d47a1;
  text-decoration: none;
}
