<div class="container">
	<ng-container
		*ngIf="serviceAccount$ | async as serviceAccount; else noServiceAccount"
	>
		<img
			[src]="serviceAccount.photoURL"
			alt="Immagine del profilo"
			class="img"
		/>
		<h1>{{ serviceAccount.name || 'Nome non impostato'}}</h1>
		<p>{{ serviceAccount.email || 'Email non impostata' }}</p>
	</ng-container>

	<ng-template #noServiceAccount>
		<h1>Account di servizio non impostato</h1>
	</ng-template>

	<a mat-raised-button color="primary" [href]="setupURL">
		Imposta account di servizio
	</a>
</div>
